################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ObjectRemoverProject-18062025-1222/.vs/ObjectRemoverProject/v15/Server/sqlite3
/ObjectRemoverProject-18062025-1222/ObjectRemoverProject
